* {
    font-family: AppleGothic;
}

body {
    background-color: black;
}

button {
    margin: auto;
}

h1 {
    color: white;
    background-color: black;
}

h1, #guessBox, p, #selectCategory {
    text-align: center;
}